
@page "/Databinding"
@inherits DatabindingBase

<h3>One Way Data binding</h3>

<div>
    <b>Name :</b> @Name
</div>
<div>

    <b>Name with salutation:</b> @(Gender == "Male" ? $"Mr. {Name}" : $"Miss. {Name}")
</div>
<div>

    <b>Name </b> <input value="@Name" />
</div>

<hr />
<h3>Two Way Data binding</h3>
<div>

    <b>Name </b> <input value="@Name" @onchange="(e => { Name = e.Value.ToString(); })" />
</div>



<div>

    <b>Name </b> <input @bind="Name" />
</div>

<div>

    <b>Name </b> <input @bind="Name" @bind:event="oninput" />
</div>
<div>

<textarea @bind="Desctiption" @bind:event="oninput" />
</div><div>
    <b>Count :@Desctiption.Length </b>
</div>