@page "/"
@inherits EmployeeListBase

<h3>Employee List</h3>
<h3>SelectedEmployeeCount : @SelectedEmployeeCount</h3>
<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">Show Footer</label>

@if (Employees == null) {
    <div class="spinner"></div>
    } else {
    <div class="card-deck">
        @foreach (var employee in Employees) {
            <DisplayEmployee Employee="employee" OnEmployeeSelection="EmployeeSelectionChanged" ShowFooter="ShowFooter"></DisplayEmployee>
            }
    </div>

    }